.page-container {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: 600px) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: 600px) and (max-width: 960px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (min-width: 960px) and (max-width: 1280px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (min-width: 1280px) and (max-width: 1920px) {
    padding-left: 200px;
    padding-right: 200px;
  }

  @media (min-width: 1920px) and (max-width: 2560px) {
    padding-left: 250px;
    padding-right: 250px;
  }

  @media (min-width: 2560px) {
    padding-left: 400px;
    padding-right: 400px;
  }
}

.navbar {
  @media (max-width: 600px) {
    padding-left: 20px !important;
    padding-right: 0px !important;
  }

  @media (min-width: 600px) and (max-width: 960px) {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }

  @media (min-width: 960px) and (max-width: 1280px) {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  @media (min-width: 1280px) and (max-width: 1920px) {
    padding-left: 200px !important;
    padding-right: 200px !important;
  }

  @media (min-width: 1920px) and (max-width: 2660px) {
    padding-left: 250px !important;
    padding-right: 250px !important;
  }

  @media (min-width: 2560px) {
    padding-left: 400px !important;
    padding-right: 400px !important;
  }
}